<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partials/head')
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/scrollable.css">
    <!-- Plugins css Ends-->
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      @include('partials/header')     
      <!-- Page Header Ends -->
      
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
      
        <!-- Page Sidebar Start-->
        @!component('partials/nav', {
          nama : "Said Jumadil Akbar"
        })
        <!-- Page Sidebar Ends-->
        
        <div class="page-body">
          <!-- Container-fluid starts-->
          <header class="header-fixed-banner mb-3">
            <img id="banner" class="img-fluid bg-img-cover" src="{{appUrl()}}/assets/images/eketua.jpg" height="auto" width="100%" style="display: block !important;">
          </header>
          
          <div class="row px-3">
            <div class="col col-12 col-xl-6">
              <div class="container-fluid dashboard-default-sec p-0">
                <div class="card">
                  <div class="card-header pb-0">
                    <div class="header-top">
                      <div class="row">
                        <div class="col col-sm-6">
                          <h5>Kegiatan</h5>                                            
                        </div>
                        <div class="col col-sm-6 text-end">
                        <a class="btn btn-primary btn-sm" href="{{route('kegiatan.add')}} " data-bs-original-title="" title=""> <span class="fa fa-plus"></span> Tambah</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card-body chart-block">
                     <div class="p-0 mr-3" id="chart-yearly-growth-dash-2">
                     </div>
                     <div class="row px-4 d-flex justify-content-center" id="legend">
                      @each(item in jenis)
                        <div class="col px-1 mb-2 d-flex justify-content-center">
                          <a class="badge badge-primary" style="background-color : #{{item.warna}}; width : 100%" href="#">{{item.jenis}}</a>
                        </div>
                      @endeach
                     </div>
                  </div> 
                </div>
              </div>  
            </div>
            <div class="col col-12 col-xl-6">
              <div class="container-fluid p-0 blog-page">
                <div class="card">
                  <div class="card-header pb-0 mb-3">
                    <div class="row">
                      <div class="col col-6">
                        <h5>Informasi</h5>
                      </div>
                      <div class="col col-6 d-flex justify-content-end">
                        <a class="btn btn-primary btn-sm" href="{{route('kegiatan.index')}} " data-bs-original-title="" title="">Lihat Semua</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card-body">
                    <div class="scroll-bar-wrap">
                      <div class="horizontal-scroll scroll-demo border-0">
                        <div class="horz-scroll-content">
                          <div class="row">
                            @!component('component/beranda/kegiatan', {
                              id_kegiatan : 0,
                              judul: "Apa Itu E-KINERJA KETUA?",
                              ringkasan: "APLIKASI E-KETUA/E-SCHEDULE ADALAH APLIKASI BERBASIS WEBSITE YANG BISA DIAKSES MELALUI PC DAN SMARTPHONE",
                              gambar: `${appUrl()}/assets/images/banner.jpg`
                            })
                            @each(item in kegiatan)
                              @set('deskripsi', item.deskripsi ? item.deskripsi.slice(0,50) : "")
                              @!component('component/beranda/kegiatan', {
                                id_kegiatan : item.id,
                                judul: item.judul,
                                // ringkasan: `${item.deskripsi.slice(0,50)}...`,
                                ringkasan: deskripsi,
                                gambar: item.gambar ? appUrl(`uploads/images/${item.id}/${item.gambar.split(',')[0]}`) : `${appUrl()}/assets/images/banner.jpg`
                              })
                            @endeach
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Container-fluid Ends-->
        </div>

        <!-- footer start-->
        
      </div>
    </div>
    <!-- latest jquery-->
    @include('partials/script')
    <!-- Plugins JS start-->
    <script src="{{appUrl()}}/assets/js/counter/jquery.waypoints.min.js"></script>
    <script src="{{appUrl()}}/assets/js/counter/jquery.counterup.min.js"></script>
    <script src="{{appUrl()}}/assets/js/counter/counter-custom.js"></script>
    {{--  <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe.js"></script>  --}}
    <script src="{{appUrl()}}/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="{{appUrl()}}/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="{{appUrl()}}/assets/js/chart/apex-chart/chart-custom.js"></script>
    <script src="{{appUrl()}}/assets/js/scrollable/perfect-scrollbar.min.js"></script>
    <script src="{{appUrl()}}/assets/js/scrollable/scrollable-custom.js"></script>
    <script src="{{appUrl()}}/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <script>
      document.getElementById('banner').style.display = 'block'
      let warna = []
      const api = `{{route('api.chart')}}`
      fetch(api)
        .then( res => res.json())
        .then(data => {
          // console.log(data)
          // data.jenis.forEach(e => {
          //   e.y = Math.floor(Math.random() * 100)
          // })
          chart(data.jenis)
        })
      function chart(isi){
        // var colors = ['#111D5E', '#C70039', '#C0E218', '#F37121', '#FCE700', '#00F5FF', '#EA047E', '#184D47', '#C15050']
        // const legend = document.querySelector('#legend')
        // for(let item of colors){
        //   legend.innerHTML += `
        //   <div class="col col-2 px-1 mb-2 d-flex justify-content-center">
        //     <a class="badge badge-primary" style="background-color : ${item}; width : 100%" href="#">label</a>
        //   </div>
        //   `
        // }
        var options51 = {
          series: [
            {
              name: "Jumlah ",
              data: isi
            }
          ],
          chart: {
            height: 350,
            type: "bar",
            toolbar:{
              show:false,
            },
          },
          plotOptions:{
            bar:{
              horizontal:false,
              columnWidth:"70%",
            }
          },
          stroke: {
            show: true,
          },
          dataLabels: {
            enabled: false
          },
          fill: {
            opacity: 1
          },
          xaxis: {
            type: "text",
            axisBorder: {
              show: false
            },
            labels: {
                  show: false
                },
            axisTicks:{
                show:false,
            },
          },
          yaxis: {
            labels: {
              formatter: function (val) {
                return val;
              },
            }
          },
          responsive: [
            {
              breakpoint:991,
              options: {
                chart: {
                  height:250
                }
              }
            }
          ], 
          colors:["#fd7e14"],
          legend: {
              labels: {
                  useSeriesColors: true
              },
          }
        };
        var chart51 = new ApexCharts(document.querySelector("#chart-yearly-growth-dash-2"), options51);
        chart51.render();
      }
    </script>
    <!-- Plugin used-->
  </body>
</html>