<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partials/head')
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="{{appUrl()}}/assets/css/dropzone.css">
    <!-- Plugins css Ends-->
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      @include('partials/header')     
      <!-- Page Header Ends -->
      
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
      
        <!-- Page Sidebar Start-->
        @!component('partials/nav', {
          nama : "Said Jumadil Akbar"
        })
        <!-- Page Sidebar Ends-->
        
        <div class="page-body">
          <!-- Container-fluid starts-->
          {{--  @!component('partials/slide', {})  --}}
          <div class="container-fluid">
            <div class="card">
              <div class="card-body" >
                {{--  <div class="row mb-3">
                  <div class="col col-3 d-flex align-items-center">
                    <a href="{{route('kegiatan.index')}}"><i class="fa fa-angle-left"></i><span> Back</span></a>
                  </div>
                  <div class="col col-9 d-flex justify-content-end">
                    <a class="btn btn-warning btn-sm me-3" href="{{route('kegiatan.edit', {id : `${kegiatan.id}`})}} " data-bs-original-title="" title=""><span class="fa fa-edit"></span> Edit</a>
                    <a class="btn btn-danger btn-sm" href="{{route('kegiatan.hapus', {id : `${kegiatan.id}`})}} " data-bs-original-title="" title=""><span class="fa fa-close"></span> Hapus</a>
                  </div>
                </div>  --}}
                <h3 class="my-3 d-flex justify-content-center"><strong>Galeri Kegiatan</strong></h3>
                {{--  <label class="form-label mb-1" for="actual-btn" style="">Tambah Foto Kegiatan</label>  --}}
                <div class="gallery my-gallery card-body row p-0" id="my-galery" itemscope="">
                  @each(item in galeri)
                  <figure id="item-fig" class="col-6 col-xl-3 col-md-4 xl-33 mb-5" itemprop="associatedMedia" itemscope="">
                    <a href="{{appUrl(`uploads/images/${item}`)}}" id="fig" itemprop="contentUrl" data-size="1600x950">
                      <img class="img-thumbnail" style="object-fit: contain" id="image" src="{{appUrl(`uploads/images/${item}`)}}" itemprop="thumbnail" alt="Image description">
                    </a>
                    <figcaption itemprop="caption description"><a href="{{appUrl(`kegiatan/rincian/${item[0]}`)}}">Link Kegiatan Lengkap</a></figcaption>
                    {{--  <input type="hidden" name="nama_gambar" id="nama_gambar" value="{{item}}">
                    <button class="btn btn-danger btn-xs mt-3" id="delete_image" type="button" style="width:100%">Delete</button>  --}}
                  </figure>
                  @endeach
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-light" type="button" id="tambah" value="2">Tampilkan Lebih Banyak Foto</button>
                </div>
              </div>
            </div> 
          </div>
          <!-- Root element of PhotoSwipe. Must have class pswp.-->
          <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
              <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item" ></div>
                <div class="pswp__item"></div>
              </div>
              <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                  <div class="pswp__counter"></div>
                  <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                  <button class="pswp__button pswp__button--share" title="Share"></button>
                  <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                  <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" data-bs-original-title="" title=""></button>
                  <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                  <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        
        
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            
          </div>
        </footer>
      </div>
    </div>
    <script>
      const id = document.querySelector('#id')
      const gambar = document.querySelector('#gambar')
      const tambah = document.querySelector('#tambah')
      const my_galery = document.querySelector('#my-galery')
      
      const api = `{{route('api.tambah_galeri', {page : 'id_page'})}}`
      const api_delete = `{{route('api.delete_gambar')}}`
      const api_fig = `{{appUrl('uploads/images')}}`
      galery()

      function galery() {
        const image = document.querySelectorAll('#image')
        const fig = document.querySelectorAll('#fig')
        image.forEach( (e, i) => {
          fig[i].setAttribute('data-size', `${e.naturalWidth}x${e.naturalHeight}`)
        })
      }
      
      tambah.addEventListener('click', () => {
        tambah.innerHTML = `
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>`
        console.log(tambah.value)
        fetch(`${api.replace('id_page',tambah.value)}`)
          .then(res => res.json())
          .then(data => {
            // console.log(data)
            if (data.galeri.length>0) {
              for(let fig of data.galeri){
                const rincian = `{{appUrl('kegiatan/rincian/${fig[0]}')}}`
                my_galery.innerHTML += `
                <figure id="item-fig" class="col-6 col-xl-3 col-md-4 xl-33 mb-5" itemprop="associatedMedia" itemscope="">
                  <a href="${api_fig}/${fig}" id="fig" itemprop="contentUrl" data-size="1600x950">
                    <img class="img-thumbnail" style="object-fit: contain" id="image" src="${api_fig}/${fig}" itemprop="thumbnail" alt="Image description">
                  </a>
                  <figcaption itemprop="caption description"><a href="${rincian}">Link Kegiatan Lengkap</a></figcaption>
                  {{--  <input type="hidden" name="nama_gambar" id="nama_gambar" value="{{item}}">
                  <button class="btn btn-danger btn-xs mt-3" id="delete_image" type="button" style="width:100%">Delete</button>  --}}
                </figure>
                `
              }
              tambah.innerHTML = 'Tampilkan Lebih Banyak Foto' 
              tambah.value++
            } else {
              tambah.innerHTML = 'Tidak Ada Foto Lainnya'
              tambah.disabled = true 
            }
          })
          galery()
      })

    </script>
    <!-- latest jquery-->
    @include('partials/script')
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <script src="{{appUrl()}}/assets/js/dropzone/dropzone.js"></script>
    <script src="{{appUrl()}}/assets/js/dropzone/dropzone-script.js"></script>
    <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="{{appUrl()}}/assets/js/photoswipe/photoswipe.js"></script>
    <!-- Plugin used-->

  </body>
</html>