<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partials/head')
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      
      <!-- Page Header Start-->
      @include('partials/header')     
      <!-- Page Header Ends -->
      
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
       
         <!-- Page Sidebar Start-->
         @!component('partials/nav', {
          nama : "Said Jumadil Akbar"
        })
        <!-- Page Sidebar Ends-->

        <div class="page-body">
          <!-- Container-fluid starts-->

          <div class="container-fluid dashboard-default-sec">
            <div class="col-sm-6">
              <h3>Ganti Password</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{route('beranda')}}">E-Kinerja Ketua / </a><a href="{{route('view.gantiPassword')}}">Ganti Password </a></li>
              </ol>
            </div>
            <div class="card">
              <div class="card-header pb-0">
                @if(flashMessages.get('status'))
                  <div class="col-sm-12 bg-{{flashMessages.get('status.type')}} b-r-4">
                    <div class="alert alert-{{flashMessages.get('status.type')}} dark alert-dismissible fade show" role="alert">{{flashMessages.get('status.message')}}
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close" data-bs-original-title="" title=""></button>
                    </div>
                  </div>
                @end
                <h5>Form Ganti Password</h5>
              </div>
              <form class="form theme-form" method="POST">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Password Lama</label>
                        <input class="form-control btn-square" name="pass_lama" type="password" placeholder="Masukkan Password Lama" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Password Baru</label>
                        <input class="form-control btn-square" name="pass_baru" type="password" placeholder="Masukkan Password Baru" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="input-text-1">Konfirmasi Password Baru</label>
                        <input class="form-control btn-square" name="konfirmasi" type="password" placeholder="Konfirmasi Password Baru" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>  
          <!-- Container-fluid Ends-->
        </div>




        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{{appUrl()}}/assets/js/jquery-3.5.1.min.js"></script>
    <!-- feather icon js-->
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="{{appUrl()}}/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- Sidebar jquery-->
    <script src="{{appUrl()}}/assets/js/sidebar-menu.js"></script>
    <script src="{{appUrl()}}/assets/js/config.js"></script>
    <!-- Bootstrap js-->
    <script src="{{appUrl()}}/assets/js/bootstrap/popper.min.js"></script>
    <script src="{{appUrl()}}/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins JS start-->
    <script src="{{appUrl()}}/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="{{appUrl()}}/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="{{appUrl()}}/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{appUrl()}}/assets/js/script.js"></script>
    {{--  <script src="{{appUrl()}}/assets/js/theme-customizer/customizer.js"></script>  --}}
    <!-- login js-->
    <!-- Plugin used-->
  </body>
</html>