<div class="user-profile">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div class="card profile-header"><img class="img-fluid bg-img-cover" src="{{appUrl()}}/assets/images/bg-depan.jpg" alt="">
        <div class="profile-img-wrap"><img class="img-fluid bg-img-cover" src="{{appUrl()}}/assets/images/bg-depan.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>